<div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
  <div class="pull-right">
    <%= link_to 'Show', project_milestone_task_path() , :class => "" %> |
    <%= link_to 'Back', project_milestone_tasks_path() , :class => "" %>
    <br>
    <br>
  </div>
</div>
<div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
  <div class="x_panel">
    <div class="x_content">
      <div class="dashboard-widget-content">
        <div class="col-md-6 col-md-offset-3 hidden-small">
          <h2 class="line_30">Edit Task</h2>
    		</div>
  		</div>
		</div>
		<br>
		<div class="text-center">
      <div class="row">
        <div class="col-lg-12 col-md-6 col-xs-6">
          <div class="form-group">
            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>