@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font-awesome/font-awesome.scss';
@import 'custom';


.flex-box {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -webkit-box;
}

.flex-vertical-center-align {
	align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-ms-flex-align: center;
}

.justify-content-space-around {
 justify-content: space-around;
 -webkit-justify-content: space-around;
 -ms-justify-content: space-around;
 -ms-flex-pack: distribute;
}

.justify-content-space-between {
	justify-content: space-between;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-flex-pack: justify;
}

.nopadding {
	padding: 0;
}

.nomargin {
	margin: 0;
}

.glyphicon {
	&:hover {
		text-decoration: none;
		transform: scale(1.05);
	}
}

#search-form {
	margin-bottom: 25px;
	.project-search {
		position: absolute;
	  right: 25px;
	  top: 10px;
	}	
}
